.flashcardContainer {
  padding: 1rem;
  background-color: var(--indigo3);
  border-radius: var(--radii-sm);
  width: 215px;
  height: 250px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;

  transition: all .15s var(--transition-basic);
}

.answerRevealed {
  background-color: var(--indigo6);
}

.content {
  flex: 1 1;
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  font-size: var(--fontSize-2xl);
  font-weight: bold;
  overflow: hidden;
  max-height: 120px;
  position: relative;

  & p { 
    margin: auto 0;
    overflow: auto; 

    &::-webkit-scrollbar {
      width: 0px;
    }
  }

  max-height: 120px;
}

.title {
  font-weight: normal;
  font-size: var(--fontSize-sm);
}

@media only screen and (max-width: 600px) {

  .flashcardContainer {
    width: 100%;
  }
}